# Build outputs
bin/
obj/
[Bb]uild/
[Ll]og/
artifacts/

# VS/VSCode user junk
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
*.lock.json

# Publish outputs
**/publish/
*.exe
*.msi
*.zip

# Rider/JetBrains
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# App settings you don’t want public (opt-in)
appsettings.*.json

build_InnoSetup.txt